*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  font-family: arial;
}
.body  {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 8px; 
  display: flexbox;
  font-family: 'Roboto', sans-serif;
}
.pantalla1 , .pantallaTipos , .pantallaFinal{
  width: 100%;
  height: 100%;
  background:url(./img/fondo.jpg);
  border-radius: 8px; 
  display: flex;
  flex-wrap: wrap;
}

.portada{
    width: 100%;
    background:white;
    display: flexbox;
}

.portada img {
  display: flexbox;
  width: 380px;
  
}

#menu{
  margin:auto;
  width: 500px;
  font-family: arial,helvetica,sans-serif;
}
ul, ol{
  list-style:none;
}
.navegator li a{
  background-color:rgb(4, 4, 116);
  color:white;
  text-decoration:none;
  padding: 10px 15px;
  display:block;
}
.navegator li a:hover{
  background:#434343;
}
.navegator > li {
  float:left;
}
.navegator li ul{
  display:none;
  position:absolute;
  min-width:140px;
}
.navegator li:hover > ul {
  display:block;
}
.navegator li ul li{
  position:relative;
}
.navegator li ul li ul{
  right:-140px;
  top:0;
}
button{
  width: 140px;
  height: 60px;
  background:hsl(0, 0%, 1%);
  block-size: 100% 100%;
  border: white;
  color:black;
  font-size: 20px;
  text-align: center;
  justify-content: space-between;
 
}
button:hover{
  background-color: #434343;
}


.container{
  padding:10px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.filterType{
  text-align: center;
  width: 130px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: auto;
  color:WHITE;
  
  background: rgb(4, 4, 99);
  max-width: 100%;
  
}
.box_type{
  width: 25%;
  text-align: center;
}
.box_type img{
  border-radius: 50%;
  max-width: 100%;
}
.normal{
  border-radius: 50% 50%;
}
.lucha{
  border-radius: 50% 50%;
}
.fuego{
  border-radius: 50% 50%;
}
.planta{
  border-radius: 50% 50%;
}
.agua{
  border-radius: 50% 50%;
}
.hielo{
  border-radius: 50% 50%;
}
.roca{
  border-radius: 50% 50%;
}
.veneno{
  border-radius: 50% 50%;
}
.suelo{
  border-radius: 50% 50%;
}
.electrico{
  border-radius: 50% 50%;
}
.psiquico{
  border-radius: 50% 50%;
}
.bicho{
  border-radius: 50% 50%;
}
.volador{
  border-radius: 50% 50%;
}
.siniestro{
  border-radius: 50% 50%;
}
.acero{
  border-radius: 50% 50%;
}
.hada{
  border-radius: 50% 50%;
}
.fantasma{
  border-radius: 50% 50%;
}
.dragon{
  border-radius: 50% 50%;
}


#buscar{
 padding:10px 15px;
  margin-left: 150px; 
 
}

.front{
  background: rgb(207, 129, 243);
  border-radius: 15px;
  border: solid 2px rgb(12, 12, 12);
  width: 200px;
  height: 250px;
  color: rgb(3, 3, 3);
  text-align: center;
  margin: 30px 20px 20px 20px;
  transition: all 500ms ease-out;
  text-transform: capitalize;
  box-shadow: 0px 15px 25px rgba(20, 9, 9, 0.829);
  z-index: 2;
  position: absolute;

}
/* efecto hover a las tarjetas*/
.front:hover {
 
  visibility: hidden;
  transform: 10s;
  
}
.back{
  background:rgb(206, 134, 202);
  border-radius: 15px;
  border: solid 2px rgb(12, 12, 12);
  width: 200px;
  height: 250px;
  color: rgb(3, 3, 3);
  text-align: center;
  margin: 30px 20px 20px 20px;
  transition: all 500ms ease-out;
  text-transform: capitalize;
  z-index: 1;
  position: relative; 
}
.back:hover {
  transform: rotateY(180deg);
  transform: 10s;
  
}


